.appMenu .summary {

	background: url($default-background) no-repeat center;
	background-size: 105%;

	#welcomeMsg p {
		margin-bottom:0; 
		color: $main-color;

	}

	.mainContainer {

		padding-left:$financial-main-container-side-padding;
		padding-right:$financial-main-container-side-padding; 
	}

	.sectionTitle {
		padding:5px; 
		h3 {
			margin:0;
			font-size:$section-title-font-size;
			color:white;
			font-weight:bold;
		}

		img{
			display:none;
		}

	}

	.account{
		margin-left:14px;
		font-size:15px;
	}
	.row.instrument.totalAmount {

		height:45px;
		.result{
			margin-top:0px;
		}
	}

	.ion-forward {
		color: $app-default-button-color;
	}

	.totalAmount {
		background-color: $app-default-button-color;
		.amount, #label {
			color: $main-color;
			font-size:19px;
		}
		#label {
			margin-right: 15px;
		}
		span.amount {
		   font-size: 23px;
		}

		.content{
			margin-top:10px;
		}
	}
}