.dashboard .login.pane.startBackground {
	background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url($login-background) no-repeat center;
	background-size: 105%;
}

@media only screen and (max-height: 568px) {
	.dashboard .login{

		img.welcome-image {
    	padding: 10px 35px 0 35px;
		}

		h3.sectionTitle {
		  padding: 10px;
		  margin-bottom: 10px;
		}

		.sectionTitle {
	    font-size: 18px;
		}

		.button-bar {
    	padding: 0 30px 10px 30px;
		}

		.app-input.item-input {
	    height: 45px;
	    padding: 0 0 0 16px;
		}

		.input-box {
    	top: 0vh;
    	margin-left: 10px;
    	margin-right: 10px;
   	}

   	.row#loginButtons {
 		padding-top: 5px;
    	padding-bottom: 5px;
 		}
  }
}

@media only screen and (min-height: 569px) {
	.dashboard .login{

		img.welcome-image {
    	padding: $login-logo-padding; 
		}

		h3.sectionTitle {
		  padding:15px; 
			margin-bottom: 15px; 
		}

		.button-bar {
    	padding: 0 30px 15px 30px; 
		}

		.app-input.item-input {
	    height: $input-height;
	    padding: 0 0 0 16px;
		}

		.input-box {
    	top: $login-box-position-top;
    	margin-left:$login-box-margin;
 			margin-right:$login-box-margin;
   	}
  }
}

.dashboard .login {

	.app-input.item-input {
		background-color: rgba(250,250,250,0.4); 
		border-radius: 0px;
		height:60px;
		margin-left:0px;
		margin-right:0px;
		.form-input{
			color:$main-color;
			text-weight:bold;
			margin-left:5%;
		}
	}

	.button1{
		 margin-top:10px;
		 margin-left:8%;
		 margin-top:15%;
	}

	.button2{
		 opacity:0.6;
		 margin-left:8%;
		 margin-top:0%;
	}

 	.item-input:first-child { 
 		color:white;
 		//border-top-right-radius: $container-round-corner; 
		//border-top-left-radius: $container-round-corner; 
 	}

 	.app-input#password {
 		margin-top:10px;
 		//border-bottom-right-radius: $container-round-corner; 
		//border-bottom-left-radius: $container-round-corner; 
 	}

 	input[type] {
 		font-size:18px; 
 	}

 	.app-input.reset-button {
 		background-color: $main-color;
 		&.activated {
 			background-color: $secondary-color;
 		}
 	}

 	.input-box {
 		position: relative; 
 		padding-bottom: 8px; 
 		background-color: $login-box-background; 
 		border: 1px solid $input-border-color;
 	}

 	.row#loginButtons {
 		margin-top:1px; 
 		button:first-child {
 			margin-left:0; 
 		}
 		button:last-child {
 			margin-right:0; 
 		}
 		button {
 			padding: 0;
 			min-width: 0;
 		}
 	}

 	.fix-content-bottom img {
   	width: 105%;
    padding-left: 25%;
    padding-right: 25%;
  }

 }

