.appMenu .transferAmount {

	background: url($default-background) no-repeat center;
	background-size: 105%;

	.bar.bar-subheader#remaining {
		background-image: none;

		padding-top: 3px;
		.text-center {
			width:100%; 
		}
		background-color: $app-default-background-color; 
		p {
			margin-bottom:0; 
			color: $secondary-color;
		}

		border-bottom: none;
	}

	.schemaForm form {
	 	.item {
	 		box-shadow: none; 
			border:0;
			&.item-input, &.item-select {
				border-bottom: 1px solid rgb(221, 221, 221);
			}
			&.item-radio .radio-content .item-content {
				padding-left:1px; 
			}
		}
		.list {
		    position: relative;
   		 	right: 2px;
		}
	}
}