<ion-view mz-screen>
    <ion-nav-title>{{ title | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
       	<button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()">
      	</button>
    </ion-nav-buttons>
    <ion-content>
	    <div class="mainContainer" ng-show="entered">
			<h3 class="sectionTitle">{{'contact_details' | translate}}</h3>
			<div class="secondaryContainer animated fadeIn">
				<div  id="contact">
					<mz-template bind-to="data.address" screen-params="params" params="extraParams"
								 template-type="'@info'"></mz-template>
					<hr/>
					<mz-template bind-to="data.phone" screen-params="params" params="extraParams"
								 template-type="'@number'"></mz-template>
					<hr/>
					<mz-template bind-to="data.phone2" screen-params="params" params="extraParams"
								 template-type="'@number'"></mz-template>
					<hr/>
					<mz-template bind-to="data.hours" screen-params="params" params="extraParams"
								 template-type="'@info'"></mz-template>
				</div>
			</div>

			<h3  class="sectionTitle">{{'contact_social_networks' | translate}}</h3>
			<div class="secondaryContainer animated fadeIn social">
				<mz-template bind-to="data.social1" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
				<hr/>
				<mz-template bind-to="data.social3" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
			</div>

			<h3  class="sectionTitle">{{'contact_info_page' | translate}}</h3>
			<div class="secondaryContainer animated fadeIn social">
				<mz-template bind-to="data.social2" screen-params="params" params="extraParams"
							 template-type="'@info'"></mz-template>
			</div>
		</div>
    </ion-content>
</ion-view>