<ion-modal-view>
	<div class="mainContainer">
		<div class="secondaryContainer" ng-style="emptyB==false && defaultBackground">
		<div class="sectionTitle" ng-style="sectionTitle">
		<h3 class="bold" ng-style="sectionTitleText">{{'about' | translate}}</h3>
		</div>
			<div class="text-center padding" id="copyright"> 
				<p ng-style="commonText">{{'version' | translate}}: {{appVersion}}</p>
				<p ng-style="commonText">{{ params.bankName }}</p>
				<p ng-style="commonText">{{'Rif' | translate}}: {{params.bankRif}} &copy {{year}}</p>
				<p ng-style="commonText">{{'all_rights_reserved' | translate}}</p>
				<p class="app-name" ng-style="commonText">{{'app_name' | translate}} &copy {{year}}</p>
				<img ng-src="{{_screenParams.companyResource}}" width="120"/>
			</div>
			<div class="row">
				<div class="col">
					<button class="button button-block" id="copyrightButton" data-ng-click="modal.hide()" ng-style="button"> 
			        	<p ng-style="buttonText">{{'accept' | translate}}</p>
			    </button>
		    </div>
	    </div>
		</div>
	</div>
</ion-modal-view> 