<ion-modal-view>
	<div class="mainContainer">
		<h3 class="sectionTitle bold">{{'about' | translate}}</h3>
		<div class="secondaryContainer">
			<div class="text-center padding" id="copyright"> 
				<p>{{'version' | translate}}: {{appVersion}}</p>
				<p>{{ params.bankName }}</p>
				<p>{{'Rif' | translate}}: {{params.bankRif}} &copy {{year}}</p>
				<p>{{'all_rights_reserved' | translate}}</p>
				<p class="app-name">{{'app_name' | translate}} &copy {{year}}</p>
				<img ng-src="{{_screenParams.companyResource}}" width="120"/>
			</div>
			<div class="row">
				<div class="col">
					<button class="button button-block" id="copyrightButton" data-ng-click="modal.hide()"> 
			        	{{'accept' | translate}}
			    </button>
		    </div>
	    </div>
		</div>
	</div>
</ion-modal-view> 