<ion-view mz-screen cache-view="false" ng-style="emptyDB==false && dashboardBackground">

    <button class="button button-icon veryLongAnimated slideInUp langIcon"  ng-click="switchLang()">
        <span ng-class="{'button-opaque' : $parent.lang =='en_us'}" >ES</span>
        <span >|</span>    
        <span ng-class="{'button-opaque' : $parent.lang =='es_ve'}" >EN</span>  
    </button>

    <div class="logo veryLongAnimated fadeIn">
          <!-- server resource -->
        <img ng-if='srcOk(customization.resources.dashboard.welcomeResource)' on-error-src="{{params.welcomeResource}}" class="full-image" ng-src="{{customization.resources.dashboard.welcomeResource}}">
        <img ng-if='!srcOk(customization.resources.dashboard.welcomeResource)' class="full-image" ng-src="{{params.welcomeResource}}">
    </div>

    <div class="dashboard-menu">
        <div class="img-box">
            <h2> {{option.title | translate}} </h2>
        </div>
        <div class="dashboard-box longAnimated fadeIn" ng-repeat="option in data">
            <!-- server resources -->
            <img class="dashboard-img" ng-if='srcOk(option.server_resource)' on-error-src="{{option.resource}}" ng-src="{{option.server_resource}}" ng-click="handleAction(option)"/>

            <img class="dashboard-img" ng-if='!srcOk(option.server_resource)' ng-src="{{option.resource}}" ng-click="handleAction(option)"/>

        </div>
        
    </div>

</ion-view>