<ion-view mz-screen cache-view="false">

    <button class="button button-icon veryLongAnimated slideInUp langIcon"  ng-click="switchLang()">
        <span ng-class="{'button-opaque' : $parent.lang =='en_us'}" >ES</span>
        <span >|</span>    
        <span ng-class="{'button-opaque' : $parent.lang =='es_ve'}" >EN</span>  
    </button>

    <div class="logo veryLongAnimated fadeIn">
        <img class="full-image "ng-src="{{params.welcomeResource}}">
    </div>

    <div class="dashboard-menu">
        <div class="img-box">
            <h2> {{option.title | translate}} </h2>
        </div>
        <div class="dashboard-box longAnimated fadeIn" ng-repeat="option in data">
            <img class="dashboard-img" ng-src="{{option.resource}}" ng-click="handleAction(option)">
 
        </div>
        
    </div>
    <!-- 
    <div class="fix-content-bottom longAnimated fadeIn" ng-if="params.menuSelection=='leftMenu'">
        <ion-list>
            <div ng-repeat="option in data">
                <ion-item class="item-avatar item-text-wrap" ng-click="handleAction(option)">
                    <img class="dashboard-img" ng-src="{{option.resource}}">
                    <h2 class="bold"> {{option.title | translate}} </h2>
                    <p >{{option.desc | translate}}</p>
                </ion-item>
                <hr ng-if="$index<data.length-1"/>
            </div>
        </ion-list>
    </div>

    <div class="fix-content-bottom shortAnimated fadeIn" id="footerMenu" ng-if="params.menuSelection=='footerMenu'">
        <div class="row row-buttons">
            <button ng-repeat="option in data" class="button button-clear text-center col" ng-click="handleAction(option)">
                <img class="full-image" ng-src="{{option.resource}}">
            </button>
        </div>
        <div class="row row-subs">
            <h4 ng-repeat="option in data" class="text-center col bold"> {{option.title | translate}} </h4>
        </div>
    </div>
    -->
</ion-view>