<ion-view cache-view="false" mz-screen ng-class="{'startBackground' : entered}">
    <ion-nav-title>{{params.title | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
       	<button class="button button-icon button-clear ion-chevron-left" ng-click="goBack()">
      	</button>
    </ion-nav-buttons>
    <ion-content>
	    <!--Welcome image-->
	    <img ng-src="{{_screenParams.welcomeResource}}" class="full-image veryLongAnimated fadeIn welcome-image">
	    <div class="veryLongAnimated fadeIn">
	    	<div class="button-bar" ng-if="params.dualLogin">
	    		<button class="button" ng-click="toggleInput(true)" ng-class="{'selectedLogin': showThirdInput}">
	    			<p> {{'login_first_option' | translate}} </p>
	    		</button>
	    		<button class="button" ng-click="toggleInput(false)" ng-class="{'selectedLogin': !showThirdInput}">
	    			<p> {{'login_second_option' | translate}} </p> 
	    		</button>
	    	</div>
        	<form novalidate name="userForm" autocomplete="off">
        		<!-- Username -->
        		<!--<h5 style="color:white;" class="text-center col bold">Usuario</h5>-->
		        <div class="item-input app-input"> 
	                <input class="form-input" type="{{params.defaultUsernameType}}" 
	                			 data-ng-model="login.username" 
	                			 name="username" 
	                			 required
	                	   	 ng-pattern="params.usernameValidation" 
	                	   	 placeholder="{{'login_username' | translate}}"
	                	   	 autocomplete="off"
	                	   	 autocapitalize="none"
	                	   	 minlength="2"
	                		 maxlength="30" /> 
		        </div>
		        <!-- Third input (optional) -->
		        <div class="item-input app-input" ng-if="showThirdInput"> 
	                <input class="form-input" type="{{params.defaultPersonalIdType}}" 
	                			 data-ng-model="login['personalId']" 
	                			 name="{{params.threeButtonLogin}}" 
	                			 required
	                	   	 ng-pattern="params.thirdInputValidation" 
	                	   	 placeholder="{{'login_third_button' | translate}}"
	                	   	 autocomplete="off"
	                	   	 autocapitalize="none"
	                	   	 minlength="2"
	                		 maxlength="30" /> 
		        </div>
		        <!-- Password -->
		        <!--<h5 style="color:white;" class="text-center col bold">Contrasena</h5>-->
		        <div class="item-input app-input" id="password" >
	                <input class="form-input" type="password" 
	                			 data-ng-model="login.password" 
	                			 name="password" 
	                			 required 
	                			 ng-pattern="params.passwordValidation" 
	                			 placeholder="{{'login_password' | translate}}"
	                			 autocomplete="off"
	                			 autocapitalize="none"/>
		        </div>
		        <div>
		        	<button type="submit" class="button1 app-input col text-center button" 
		        			ng-disabled="userForm.$invalid" ng-click="goTo()">
		               <p> {{'login_submit' | translate}} </p> 
			        </button>
			        <button type="button" ng-disabled="!login.username && !login.password" 
			        		class="button2 app-input col text-center button" ng-click="clearFields()">
		               	<p>{{'login_clean' | translate}} </p>
		        	</button>
	    		</div> 
		    </form>
		</div>

    </ion-content>
    <div class="veryLongAnimated fadeIn fix-content-bottom text-center hide-on-keyboard-open">
		<img ng-src="{{_screenParams.companyResource}}"/>
	</div>
</ion-view>