<ion-view cache-view="false" mz-screen>
    <ion-nav-title>{{params.title | translate }}</ion-nav-title>
    <ion-content>
    	<img ng-src="{{params.progressResource}}" class="full-image padding" />
		<div id="search-bar">
            <div class="item-input-inset  item-icon-right">
                <label class="item-input-wrapper" id="search-input">
                   	<input type="text"  placeholder="{{'search' | translate}}" ng-model="search" ng-change="filterSections(search)" />
                   	<i class="icon ion-search placeholder-icon"></i>
                </label>
            </div>
        </div>
        <div ng-if="sections.length>0">
	       	<h4 class="padding-left padding-right padding-bottom text-center">
        		{{'transfer_select_source_instruments' | translate}} 
        	</h4>
		    <div ng-repeat="section in sections" ng-if="section.filteredData.length>0">
		    	<div class="mainContainer">
		    		<div class="sectionTitle item item-icon-right" ng-class="{'addBorder' : !section.toggle}"
		    		     ng-click="toggle($index)">
		    			<h3> {{::section.displayName}} </h3>
		    			<i class="icon" 
		    			   ng-class="{ 'ion-chevron-up' : section.toggle, 'ion-chevron-down' : !section.toggle}"></i>
		    		</div>
		    		<div class="secondaryContainer" ng-if="section.toggle">
		    			<div ng-class="{'shortAnimated fadeInDown' : section.toggle}">
			    			<div ng-repeat="beneficiary in section.filteredData">
			    				<ion-checkbox class="item-checkbox-right" ng-model="beneficiary.model">
		    			  			<div class="row ">
							    		<div class="col instrument"> 
							    			{{::beneficiary.instrument.displayName}}
							    		</div>
							    		<div class="col col-40 instrument"> 
							    			{{::beneficiary.instrument.maskedAccountNumber | limitTo: -7}} 
							    		</div>
						    		</div>
			    			  	</ion-checkbox>
			                    <hr ng-if="$index<section.filteredData.length-1" />
			                </div>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="list mainContainer" ng-show="countSelected()" id="confirm">
		    	<div class="item item-divider">
			    	<h3 class="bold color1"> {{'transfer_selected' | translate}} </h3>
			  	</div>
		    	<div ng-repeat="section in sections">
		    		<div ng-repeat="beneficiary in section.data" ng-show="beneficiary.model">
				    	<div class="item item-icon-left">
				    		<div class="row">
					    		<h3> 
					    			{{::beneficiary.instrument.displayName}} 
					    		</h3>
					    		<h3 class="col"> 
					    			{{::beneficiary.instrument.maskedAccountNumber | limitTo: -7}} 
					    		</h3>
				    		</div>
				    		<i class="icon {{selectedIcon}}"></i>
				    	</div>
				    	<hr/>
				    </div>
			    </div>
		    </div>
		    <div class="text-center padding-top">
			    <button class="app-input button" ng-disabled="!validate()"ng-click="goTo()">
			        <p>{{'next' | translate}} </p>
			    </button>
			</div>
		</div>
		<div ng-if="sections.length==0">
            <h4 class="padding text-center">{{'transfer_no_destination_instruments' | translate}} </h4>
            <div class="padding text-center">
                <button class="app-input button" ng-click="goBack()">
                    <p>{{'go_back' | translate}} </p>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>